@import url("../../index.css");

.list-body {
  width: 90%;
  border-radius: var(--large-border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--secondary-background-color);
}
.list-title{
    color: var(--primary-text-color);
    text-transform: uppercase;
}
.list-group-holder {
  margin: 0;
  padding: 0;
  width: 95%;
  display: flex;
  flex-direction: column;
  list-style: none;
}
.list-group-holder li {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
