.list-body{
    margin: 1rem;
    margin-top: 10rem;
}
.list-title{
    background-color:#f2f4e8;
    color: #00aaf5;
    margin: 0;
    padding: 1rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}
.list-group-holder{
    padding: 1rem;
    margin-top: 0;
    background-color: #f2f4e8;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    list-style-type: none;
}
.list-group{
    background-color: #00d7fc;
    -webkit-box-shadow: inset 0px 0px 30px 5px rgba(10,115,133,1);
    -moz-box-shadow: inset 0px 0px 30px 5px rgba(10,115,133,1);
    box-shadow: inset 0px 0px 30px 5px rgba(10,115,133,1);
}
.list-element{
    background-color:transparent;
    height: 15rem;
}
.list-element-hover{
    height: 15rem;
    background-color: #30f553;
}
.list-element-active{
    height: 15rem;
    width: 100%;
    background-color: #00aaf5;
    
}
