.list-body{
    margin: 1rem;
}
.list-title{
    background-color:gray;
    margin: 0;
    padding: 1rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
}
.list-group-holder{
    padding: 1rem;
    margin-top: 0;
    background-color: grey;
    border-bottom-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    list-style-type: none;
    
}
.list-element{
    background-color: white;
    height: 15rem;
}
.list-element-hover{
    height: 15rem;
    background-color: greenyellow;
}
.list-element-active{
    height: 15rem;
    width: 100%;
    background-color: crimson;
    
}
