.card-horizontal{
    display: flex;
    flex-direction: row;
};

.amiibo-image-horizontal-holder{
    flex-grow: 1;
    display: flex;
    width: 1rem;
}
.amiibo-image-horizontal{
    object-fit: cover;
}
.amiibo-name-horizontal-holder{
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.amiibo-name-horizontal{
    font-size: xx-large;
}
@media (min-width: 480px) {
    body {
        font-size: 18px;
        padding: 20px;
    }
}