@import url("../../index.css");
.navbar {
  height: var(--nav-size);
  width: 100%;
  background-color: var(--secondary-background-color);
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1000px) {
  .navbar {
    height: calc(var(--nav-size) * 3);
  }
}
