:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight: 400;
  --main-background-color: #282c34;
  --primary-color: #97ce4c;
  --secondary-color: #f5df4d;
  --accent-color: #61dafb;
  --primary-text-color: #ffffff;
  --secondary-text-color: #aaaaaa;
  --hover-background-color: #3e4c50;
  --hover-text-color: #ffffff;
  --active-background-color: #2a3e3a;
  --active-text-color: #ffffff;
  --border-radius: 0.5rem;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root{
  display: flex;
  min-width: 320px;
  width: 100%;
  min-height: 100vh;
}
body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--main-background-color);
  color: var(--text-color);
  font-family: var(--font-family);
}
a {
  font-weight: var(--font-weight);
  color: var(--primary-text-color);
  text-decoration: inherit;
  transition: color 0.25s;
}
a:hover {
  color: var(--hover-background-color);
}
button {
  border: none;
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: inherit;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--);
  color: var(--primary-text-color);
  transition: background-color 0.25s;
}
button:hover {
  background-color: var(--hover-background-color);
  color: var(--hover-text-color);
}
button:active  {
  color:var(--active-text-color);
  background-color: var(--active-background-color);
}
div{
  background-color: var(--hover-background-color);
  border-radius: var(--border-radius);
}
