.content-header{
    background-color: #fd1956;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-table{
    display: flex;
    flex-direction: column;
    width: 35rem;
}
.table-header{
    height: 5rem;
}
.table-content{
    height: 30rem;
}
.content-image{
    display: flex;
    flex-direction: column;
    width: 35rem;
}

.table-content-content{
    font-size: x-large;
    text-align: center;
    background-color: #9d1b46
}
.table-header-content{
    font-size: x-large;
    text-align: center;
    background-color: #fd1956;
}